{% extends 'base.html.twig' %}

{# Commentaires in Twig #}
{% block title %}
Accueil
{% endblock %}

{% block montitre %}
Bienvenu
{% endblock %}

{% block body %}
<h1>SALAM Symfony</h1>
{% endblock %}
