{% extends 'base.html.twig' %}


{#   #}
{% block title %}
	Hello Personnages
{% endblock %}

{% block montitre %}
	Liste des Personnages
{% endblock %}

{% block body %}
	<h1>PERSONNGE Symfony</h1>
{% endblock %}
