{% extends 'base.html.twig' %}


{# Commentaires in Twig #}
{% block title %}
 Personnages
{% endblock %}

{% block montitre %}
	Liste des Personnages
{% endblock %}
<div></div>
{% block body %}
	<h1>PERSONNGE Symfony</h1>
{% endblock %}
